.ButtonsControl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 4px solid var(--aqua);
    border-radius: var(--borderRadiusCustom);
    width: 87%;
}
.btnActive{
    border: none;
    background-color: var(--aqua);
    color: var(--background);
    border-radius: var(--borderRadiusCustom);
    font-size: 0.6em;
    font-weight: 600;
    padding: 1rem 3rem;
    margin: 0 0.2rem;
}